<div class="container mt-5">
    <div class="row my-5">
        <div class="col-sm-6">
            <h2>My To-Do List</h2>
        </div>

        <!-- Button trigger modal -->
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                    data-target="#createNoteModal">
                Create New Note
            </button>
        </div>
        <!-- #Button trigger modal -->
    </div>


    <ul class="nav nav-pills nav-justified mb-3 font-weight-bolder" id="notesListPills" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="inProgressListPill" data-toggle="pill" href="#progressList" role="tab"
               aria-controls="pills-home" aria-selected="true">In Progress</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="finishedListPill" data-toggle="pill" href="#finishedList" role="tab"
               aria-controls="pills-profile" aria-selected="false">Finished</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="progressList" role="tabpanel" aria-labelledby="pills-home-tab">

            <div class="row">
                <div class="col-md-4 col-lg-6" id="inProgressList">
                    <div class="h3 text-center mb-4">In Progress</div>
                    <div class="row">

                        <div class="col-lg-6">
                            <!-- For every in progress note -->
                        </div>
                        <!-- Dynamically -->
                    </div>

                </div>

                <div class="col-md-8 col-lg-6">
                    <div class="row">
                        <div class="col-md-6" id="ScheduledList">
                            <div class="h3 text-center mb-4">Scheduled</div>
                            <!-- Dynamically -->
                        </div>
                        <div class="col-md-6" id="WaitingList">
                            <div class="h3 text-center mb-4">Waiting</div>
                            <!-- Dynamically -->
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="tab-pane fade" id="finishedList" role="tabpanel" aria-labelledby="pills-profile-tab">
            <!-- Dynamically -->
        </div>

    </div>
</div>

<!-- Back to Top Button -->
<button class="btn back-to-top border-0 rounded-circle bg-primary text-white">
    <i class="fa fa-chevron-up"></i>
</button>
<!-- #Back to Top Button -->
