.form-control:disabled, .form-control[readonly]  {
  cursor: pointer;
  background-color: transparent;
}

.back-to-top {
  display: none;
  cursor: pointer;
  position: fixed;
  padding: 12px 16px;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
}